<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/books">Read</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contributions">Contribute</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                </ul>
            </div>
        </nav>
    </header>
   
   
    </style>   
    <h1>Contact Us</h1>
    <p>Have questions or need assistance? We're here to help! Reach out to our friendly team:</p>
    <ul>
        <li><strong>Email: scroll@mail.com</strong>:
        <li><strong>Phone: +254722173650</strong>:
        <li><strong>Live Chat: coming soon!!</strong>:
    </ul>
    <p>Feel free to connect with us anytime. Happy reading!</p>


</body>
</html>